<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  {#  <meta name="csrf_token" content="{{ csrf_token() }}">#}
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>登录-功能安全管理系统</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='plugins/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='backend/css/b_login.css') }}" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <script src="{{ url_for('static', filename='assets/js/ie-emulation-modes-warning.js') }}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .text-danger {
      text-align: center;
      margin-top: 10px;
    }
  </style>
</head>
<body>

<div class="container">
  <form class="form-signin" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h2 class="form-signin-heading">欢迎登录</h2>
    <label for="inputEmail" class="sr-only">邮箱</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="邮箱" required autofocus name="email">
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required name="password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="1" name="remember"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
  {% if message %}
    <p style="text-align: center" class="text-danger">{{ message }}</p>
  {% endif %}
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js') }}"></script>
</body>
</html>
