<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="{{ url_for('static', filename='plugins/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='plugins/jquery/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='common/iqajax.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/sweetalert/xtalert.js') }}"></script>